.label-error{
    color: #954444;
}

.label-success{
    color: #438641;
}

.resource-row{
    margin-top: 5px;
    margin-bottom: 5px;
}

.table-responsive {
    max-height:300px;
}

.product-button{
    width: 45% !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.service-progress{
    margin-top: 25px;
    display: none;
}

#service-name{
    color: #0d8026 !important;
}

#service-step{
    color: #184280 !important;
}
